IDI_ICON1   ICON    DISCARDABLE "resources/icons/icon.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,3,0
PRODUCTVERSION  0,1,3,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "Jan Kowalewicz"
            VALUE "FileDescription",    "Pawxel"
            VALUE "FileVersion",        "0.1.3"
            VALUE "InternalName",       "pawxel"
            VALUE "LegalCopyright",     "Copyright (c) 2022-2023 Jan Kowalewicz"
            VALUE "LegalTrademarks1",   "All Rights reserved"
            VALUE "LegalTrademarks2",   "All Rights reserved"
            VALUE "OriginalFilename",   "pawxel.exe"
            VALUE "ProductName",        "Pawxel"
            VALUE "ProductVersion",     "0.1.3"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END